* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/background.png);
}
.weather-content {
  border-radius: 10px;
  border: 1px solid #7d7878;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 0px #7d7878;
  margin: 100px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 35px;
}
.weather-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.weather-left h2 {
  color: #ff006b;
  font-family: Work Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.weather-left div {
  display: flex;
  align-items: end;
}
.weather-left h3 {
  color: #ffc801;
  font-family: Work Sans;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  margin-bottom: -15px;
  padding-right: 15px;
}
.weather-left p {
  color: #f5f5f5;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.weather-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
  align-self: last baseline;
}
.weather-right p {
  color: #d9d9d9;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}


@media (max-width: 767px) {
  .weather-content {
    margin: 50px 0px;
    padding: 25px;
    gap: 34px;
  }
  .weather-left h3 {
    font-size: 60px;
    margin-bottom: -9px;
  }
  .weather-right {
    align-items: start;
  }
}
